h1 {
    color: red;
    font-size: 60px;
}
body {
    background-image: url("https://ecdn.game4v.com/g4v-content/uploads/2021/06/OP-anime-2-game4v.jpg");
    color: antiquewhite;
}
li {

    color: blue;
    font-size: 50px;
}