<table border="1">
  <tr>
    <td colspan="4"><input value="{{input}}"></td>
  </tr>
  <tr>
<!--    <td colspan="4"><input type="text" class="calculator-screen">{{result}}</td>-->
  </tr>
  <tr>
    <td><button>(</button></td>
    <td><button>)</button></td>
    <td><button>%</button></td>
    <td><button (click)="allClear()" class="all-clear" value="all-clear">AC</button></td>
  </tr>
  <tr>
    <td><button (click)="getNumber('7')" value="7">7</button></td>
    <td><button (click)="getNumber('8')" value="8">8</button></td>
    <td><button (click)="getNumber('9')" value="9">9</button></td>
    <td><button (click)="getOperation('/')" value="/">/</button></td>
  </tr>
  <tr>
    <td><button (click)="getNumber('4')" value="4">4</button></td>
    <td><button (click)="getNumber('5')" value="5">5</button></td>
    <td><button (click)="getNumber('6')" value="6">6</button></td>
    <td><button (click)="getOperation('*')" value="*">*</button></td>
  </tr>
  <tr>
    <td><button (click)="getNumber('1')" value="1">1</button></td>
    <td><button (click)="getNumber('2')" value="2">2</button></td>
    <td><button (click)="getNumber('3')" value="3">3</button></td>
    <td><button (click)="getOperation('-')" value="-">-</button></td>
  </tr>
  <tr>
    <td><button (click)="getNumber('0')" value="0">0</button></td>
    <td><button (click)="getNumber('.')" value=".">.</button></td>
    <td><button (click)="getAnswer()" value="=">=</button></td>
    <td><button (click) = "getOperation('+')" class="operator" value="+">+</button></td>
  </tr>
</table>
<style>
  button{
    width: 100%;
    height: 100%;
  }
</style>
